<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.squad.scanner" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Scan"
            android:label="@string/title_activity_scan" >
        </activity>
        <activity
            android:name=".ManagerScreen"
            android:label="@string/title_activity_manager_screen" >
        </activity>
        <activity
            android:name=".NormalUserScreen"
            android:label="@string/title_activity_normal_user_screen" >
        </activity>
        <activity
            android:name=".RegisterUserScreen"
            android:label="@string/title_activity_register_user_screen" >
        </activity>
        <activity
            android:name=".AdminLanding"
            android:label="@string/title_activity_admin_landing" >
        </activity>
        <activity
            android:name=".ChangePasswordScreen"
            android:label="@string/title_activity_change_password_screen" >
        </activity>
        <activity
            android:name=".DeleteUserScreen"
            android:label="@string/title_activity_delete_user_screen" >
        </activity>
        <activity
            android:name=".CreateProductScreen"
            android:label="@string/title_activity_create_product_screen" >
        </activity>
        <activity
            android:name=".ModifyProductScreen"
            android:label="@string/title_activity_modify_product_screen" >
        </activity>
        <activity
            android:name=".DeleteProductScreen"
            android:label="@string/title_activity_delete_product_screen" >
        </activity>
        <activity
            android:name=".AddRemoveQuantityScreen"
            android:label="@string/title_activity_add_remove_quantity_screen" >
        </activity>
        <activity
            android:name=".CostAnalysisScreen"
            android:label="@string/title_activity_cost_analysis_screen" >
        </activity>
        <activity
            android:name=".IncreaseQuantityScreen"
            android:label="@string/title_activity_increase_quantity_screen" >
        </activity>
        <activity
            android:name=".DecreaseQuantityScreen"
            android:label="@string/title_activity_decrease_quantity_screen" >
        </activity>
    </application>

</manifest>
